# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.nfs*

# Editor
.vscode/
.idea/
*.swp
*.swo
*.orig
.project
.settings/

# Tools
.direnv
.envrc
